@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    font-family: sans-serif;
    /* background-color: black; */
}

input {
    border: 1px solid black;
}

.to-do-list {
    font-family: sans-serif, Arial;
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 4rem;
}

button {
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5 ease;
}

.add-button {
    background-color: green;

}

.delete-button {
    background-color: red;
}

.move-button {
    background-color: rgb(81, 81, 190);
}

input[type="text"] {
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 5px;
    color: black;
}

ol {
    padding: 0;

}

.li_box {
    display: flex;
}

li {
    margin-top: 20px;
    width: 600px;
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: white;
    margin-bottom: 10px;
    border: 3px solid grey;
    display: flex;
    align-items: center;
}

.text {
    flex: 1;
}

.delete-button,
.move-button {
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}

@media screen and (max-width:600px) {
    .to-do-list li {
        width: 100%;
    }
}

@media screen and (max-width:520px) {
    li {
        font-size: 25px;
    }
    .li_box {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }
    .delete-button{
        margin-top: 10px;
    }
}
@media screen and (max-width:450px) {
    .to-do-list input {
        width: 250px;
        height: 50px;
    }
 .delete-button{
    margin-top: 10px;
}
    .li_box {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }

    .to-do-list .add-button {
        width: 100px;
        height: 50px;
        padding-top: 6px;
    }

    .to-do-list h1 {
        font-size: 45px;
        font-weight: bold;
    }
}